<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wms.mapper.requirements.OutRequirementMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wms.model.entity.OutRequirementEntity">
        <id column="ID" property="id" />
    <result column="CREATED_BY" property="createdBy" />
    <result column="CREATED_DATE" property="createdDate" />
    <result column="LAST_UPDATED_BY" property="lastUpdatedBy" />
    <result column="LAST_UPDATED_DATE" property="lastUpdatedDate" />
    <result column="DELETED_BY" property="deletedBy" />
    <result column="DELETED_DATE" property="deletedDate" />
    <result column="IS_DELETED" property="isDeleted" />
        <result column="REQUIREMENT_CODE" property="requirementCode" />
        <result column="ORIGINAL_ORDER_ID" property="originalOrderId" />
        <result column="ORIGINAL_FROM" property="originalFrom" />
        <result column="REQUIREMENT_TYPE" property="requirementType" />
        <result column="WAREHOUSE_CODE" property="warehouseCode" />
        <result column="ORIGINAL_TYPE" property="originalType" />
        <result column="ORIGINAL_CODE" property="originalCode" />
        <result column="REQUIREMENT_ORGANIZATION_TYPE" property="requirementOrganizationType" />
        <result column="REQUIREMENT_DEPT_ID" property="requirementDeptId" />
        <result column="REQUIREMENT_DEPT_NAME" property="requirementDeptName" />
        <result column="REQUIREMENT_USER_ID" property="requirementUserId" />
        <result column="REQUIREMENT_USER_NAME" property="requirementUserName" />
        <result column="REQUIREMENT_ADDRESS" property="requirementAddress" />
        <result column="APPLY_OUT_DATE" property="applyOutDate" />
        <result column="APPLY_SYS_USER" property="applySysUser" />
        <result column="APPLY_HR_DEPT" property="applyHrDept" />
        <result column="APPLY_DATE" property="applyDate" />
        <result column="NOTE" property="note" />
        <result column="STATUS" property="status" />
        <result column="VERSION" property="version" />
    </resultMap>


    <!-- 通用查询映射结果 -->
    <resultMap id="BoResultMap" type="com.wms.model.bo.requirements.OutRequirementBo">
        <id column="ID" property="id" />
        <result column="CREATED_BY" property="createdBy" />
        <result column="CREATED_DATE" property="createdDate" />
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" />
        <result column="LAST_UPDATED_DATE" property="lastUpdatedDate" />
        <result column="DELETED_BY" property="deletedBy" />
        <result column="DELETED_DATE" property="deletedDate" />
        <result column="IS_DELETED" property="isDeleted" />
                <result column="REQUIREMENT_CODE" property="requirementCode" />
                <result column="ORIGINAL_ORDER_ID" property="originalOrderId" />
                <result column="ORIGINAL_FROM" property="originalFrom" />
                <result column="REQUIREMENT_TYPE" property="requirementType" />
                <result column="WAREHOUSE_CODE" property="warehouseCode" />
                <result column="ORIGINAL_TYPE" property="originalType" />
                <result column="ORIGINAL_CODE" property="originalCode" />
                <result column="REQUIREMENT_ORGANIZATION_TYPE" property="requirementOrganizationType" />
                <result column="REQUIREMENT_DEPT_ID" property="requirementDeptId" />
                <result column="REQUIREMENT_DEPT_NAME" property="requirementDeptName" />
                <result column="REQUIREMENT_USER_ID" property="requirementUserId" />
                <result column="REQUIREMENT_USER_NAME" property="requirementUserName" />
                <result column="REQUIREMENT_ADDRESS" property="requirementAddress" />
                <result column="APPLY_OUT_DATE" property="applyOutDate" />
                <result column="APPLY_SYS_USER" property="applySysUser" />
                <result column="APPLY_HR_DEPT" property="applyHrDept" />
                <result column="APPLY_DATE" property="applyDate" />
                <result column="NOTE" property="note" />
                <result column="STATUS" property="status" />
                <result column="VERSION" property="version" />
        </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        CREATED_BY,
        CREATED_DATE,
        LAST_UPDATED_BY,
        LAST_UPDATED_DATE,
        DELETED_BY,
        DELETED_DATE,
        IS_DELETED,
        ID, REQUIREMENT_CODE, ORIGINAL_ORDER_ID, ORIGINAL_FROM, REQUIREMENT_TYPE, WAREHOUSE_CODE, ORIGINAL_TYPE, ORIGINAL_CODE, REQUIREMENT_ORGANIZATION_TYPE, REQUIREMENT_DEPT_ID, REQUIREMENT_DEPT_NAME, REQUIREMENT_USER_ID, REQUIREMENT_USER_NAME, REQUIREMENT_ADDRESS, APPLY_OUT_DATE, APPLY_SYS_USER, APPLY_HR_DEPT, APPLY_DATE, NOTE, STATUS, VERSION
    </sql>

    <select id="getOutRequirementById" resultMap="BoResultMap">
        select
        <include refid="Base_Column_List"/>
        from WMS_OUT_REQUIREMENT where id = #{id}
    </select>

    <select id="getOutRequirementPageList" resultMap="BoResultMap">
        select
        <include refid="Base_Column_List"/>
        from WMS_OUT_REQUIREMENT
    </select>

</mapper>
